.admin-table-wrapper {
  padding: 30px;
}

.admin-loader {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.stock-low {
  color: orange;
  font-weight: 600;
}

.stock-zero {
  color: red;
  font-weight: 600;
}

.admin-product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;
}

.admin-product-row:hover{
  background-color: #f5f5f5;
}