.admin-table-wrapper {
  padding: 30px;
}

.admin-loader {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.stock-low input {
  border: 1px solid orange;
  color: orange;
  font-weight: 600;
}

.stock-zero input {
  border: 1px solid red;
  color: red;
  font-weight: 600;
}

.admin-product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}
