.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f5f5ed;
    height: 60px;
    /* padding: 0 20px; */
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.navbar-logo {
    font-weight: 700;
    font-size: 30px;
    /* font-size: clamp(1rem, 5vw, 30px); */
    text-transform: uppercase;
    font-family: Manrope, sans-serif;
    cursor: pointer;
}

/* Middle links */
.navbar-links {
    display: flex;
    gap: 20px;
    align-items: center;
    /* padding-right: 20px; */
}

.nav-link {
    font-weight: 500;
    text-transform: uppercase;
    font-family: Manrope, sans-serif;
    cursor: pointer;
}

.nav-link.active{
    border-bottom: 3px solid #c36522;
}

/* Right actions */
.navbar-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* Search input */
.search-input input {
    border: none;
}

/* Icons */
.nav-icon {
    cursor: pointer;
}

@media (max-width: 700px) {
    .navbar-logo{
        font-size: 25px;
    }
    .nav-link {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .search-input{
        width: 100px;
    }
    .nav-link {
        font-size: 14px;
    }
}