.product-card {
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* overflow: hidden; */
}

.product-card-img-container{
    position: relative;
    height: 85%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.product-card-bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.6s ease;
}

.product-card-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-card-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.product-card-content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-content h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.product-card-img-container:hover .product-card-bg {
    transform: scale(1.05);
}

.product-card-img-container:hover .product-card-overlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.product-card-info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
}

/* Text styles */
.product-card-name {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #141514;
}

.product-card-price {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(20, 21, 20, 0.6);
}