.product2-card {
    height: fit-content;
    width: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* overflow: hidden; */
}

.product2-card-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 270px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.product2-card-bg{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.6s ease;
}

.product2-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product2-card-bg:hover {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    object-fit: cover;
}

.product2-card-content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product2-card-info-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 5px 5px 5px;
}

.product2-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
}

/* Text styles */
.product2-card-name {
    flex-direction: row;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #141514;
    text-transform: capitalize;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

.product2-card-price {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #141514;
}

.color-options{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}