/* Page wrapper */
.main-page {
  display: flex;
  flex-direction: column;
}

/* Hero section */
.hero-section {
  width: 100%;
  height: 630px;
  position: relative;
  display: flex;
}

/* Background image */
.mainPage-img-container {
  width: 50%;
  height: 100%;
  background-image: url("/images/MainPage-img2.png");
  background-size: cover;
  background-position: center;
}

/* Overlay content */
.mainPage-img-overlay {
  position: absolute;
  top: 28%;
  left: 36%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
}

/* Hero text */
.hero-title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 20px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 30px;
}

.btn-women {
  width: 200px;
  background-color: #8c9b8d;
  text-transform: uppercase;
}

.btn-women:hover {
  background-color: #8c9b8d;
}

.btn-men {
  width: 160px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-men:hover {
  background-color: transparent;
  color: black;
}

/* Sections */
.collections-section {
  background-color: #f5f5ed;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 40px;
}

.section-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px 40px 40px;
}

.section-title {
  font-family: Manrope, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 1300px) {
  .mainPage-img-overlay {
    top: 33%;
    left: 40%;
  }

  .hero-title {
    font-size: 90px;
  }
}

@media (max-width: 1220px) {
  .mainPage-img-overlay {
    top: 36%;
    left: 40%;
  }

  .hero-title {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  .mainPage-img-overlay {
    top: 36%;
    left: 40%;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .hero-buttons {
    flex-direction: column;
    gap: 15px;
    /* align-items: flex-end; */
  }

  .mainPage-img-overlay {
    top: 36%;
    left: 30%;
  }
}

@media (max-width: 600px) {
  .btn-men {
    width: 140px;
    font-size: 13px;
  }

  .btn-women {
    width: 160px;
    font-size: 13px;
  }
}